.App {
  text-align: center;
  height: 100dvh;
  width: 100dvw;
  background-image: url('/assets/backgroundImage.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.App-No-OverFlow {
  text-align: center;
  width: 100dvw;
  background-image: url('/assets/backgroundImage.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.App-Content {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.App-Header {
  background: #282c34;
  height: 64px;
  width: 100%;
  padding: 0
}