.switcher {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.switcher div.active {
    width: 30px;
    background: #f34a6a; /* màu hồng */
    color: white;
    border-radius: 8px;
}

.switcher div {
    width: 30px;
    padding: 10px 20px;
    border-radius: 8px;
    background: none;
    color: #999;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
